<div class="p-4 sm:ml-64 container_inicio">
      <div class="flex justify-center mb-4  ">
        <div
          class="flex items-center justify-center h-96 rounded bg-text flex-column"
        >
          <p class="text-3xl sm:text-4xl md:text-5xl title">
         Hola, soy Geraldine Becerra
          </p>
          <p class="text-1xl sm:text-2xl md:text-4xl my-5">
            Bienvenido a mi portafolio
          </p>
          <p class="text-sm  md:text-2xl mx-5 text-center">
            Gracias por tu visita. Aquí podrás explorar una variedad de proyectos que incluyen aplicaciones web, diseño de interfaces, y más. Cada sección está diseñada para mostrar mis habilidades y mi enfoque en la resolución creativa de problemas. ¡Espero que disfrutes la visita!
           </p>
        </div>
      </div>
    </div>