<footer class="bg-text p-3">
  <div class="flex items-center justify-center">
    <p class="text-ms">© 2024 Geraldine Becerra.</p>
    <a
      href="https://www.facebook.com/geraldine.becerra.3"
      target="_blank"
      rel="noreferrer"
      class="ms-3"
      ><img src="./img/facebook.png" width="30" height="30" alt="facebook"
    /></a>
    <a
      href="https://github.com/andgerald"
      target="_blank"
      rel="noreferrer"
      class="ms-3"
      ><img src="./img/github1.png" width="30" height="30" alt="github"
    /></a>
    <a
      href="mailto:geraldinebecerra93@gmail.com"
      target="_blank"
      rel="noreferrer"
      class="mx-3"
      >
      <img src="./img/gmail1.png" width="30" height="30" alt="gmail"/>
    </a>
    <a
      href="https://www.instagram.com/and.gerald?igsh=MXM4ZGprd3VtOGRqdQ=="
      target="_blank"
      rel="noreferrer"
      class=" "
      ><img src="./img/instagram.png" width="30" height="30" alt="instagram"
    /></a>
  </div>
</footer>
