.bg-color {
    background-color: #f5f3f2;
    
}
.img {
    position: absolute;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    margin-top: 120px;
    background-image: url("../../assets/img/yo.jpeg");
    background-size: cover;
    background-position: center;
}
