/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
.bg-text {
    background-color: #f5f3f2 !important;
}
.title {
    font-weight: 700;
    color: #0c0c0c;
}
