<div class="p-4 sm:ml-64">
  
      <div class="grid grid-cols-1 gap-4 mb-4">
        
        <div
          class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800"
        >
          <p class="text-6xl text-gray-400 dark:text-gray-500">
         Geraldine Becerra
          </p>
        </div>
      </div>
      <div
        class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800"
      >
        <p class="text-4xl text-gray-400 dark:text-gray-500">
          Bienvenido a mi portafolio
        </p>
      </div>
  
      <div
        class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800"
      >
        <p class="text-xl text-gray-400 dark:text-gray-500 mx-5">
         Gracias por visitarlo. Aquí podrás explorar una variedad de proyectos que incluyen aplicaciones web, diseño de interfaces, y más. Cada sección está diseñada para mostrar mis habilidades y mi enfoque en la resolución creativa de problemas. ¡Espero que disfrutes la visita!
        </p>
      </div>

    </div>